@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    background: #fffefe;
}

@theme {
    --default-font-family:
        "Inter", "Inter Variable", "Noto Sans JP", "Noto Sans JP Variable",
        sans-serif;
    --default-mono-font-family: "Fira Code Variable", monospace;
}
