---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = headings.filter((h) => h.depth > 1 && h.depth <= 5);

const marginMap: Record<number, string> = {
    2: "ml-0",
    3: "ml-4",
    4: "ml-8",
    5: "ml-12",
}
---

{
    toc.length > 0 && (
        <nav class="p-6 border-l border-gray-400 sticky top-24">
            <div class="mb-4">
                <p class="text-lg font-bold">目次</p>
            </div>
            <ul class="space-y-3">
                {toc.map((heading) => (
                    <li class={heading.depth === 2 ? "text-gray-800" : `text-gray-600 ${marginMap[heading.depth]}`}>
                        <a href={`#${heading.slug}`}>{heading.text}</a>
                    </li>
                ))}
            </ul>
        </nav>
    )
}